.entry-item {
    margin-bottom: 56px;
}

.entry-item-title {
    display: flex;
    font-family: $__sans_serif_font;
    font-size: 2rem;
    justify-content: center;

    a {
        border-bottom: 0;
        color: $__default_Color;
        padding-bottom: 0;
    }

}

.entry-summary {
    margin-top: 16px;
}

#pagination {
    align-items: center;
    display: flex;
    flex-direction: row;
    font-size: 2.1rem;
    font-weight: bold;
    justify-content: center;
    list-style: none;
    margin: 40px 0;
    padding: 0;
}

.pagination__item {
    margin-right: 8px;
    transform: scaleX( 0.7 );
}

.pagination__link {
    border-bottom: 0;
    text-decoration: none;   
}
