.entry-full {
    
    .post-date {
        margin-bottom: 16px;
    }

    .categories-title,
    .tags-title {
        display: flex;
        font-family: $__sans_serif_font;
        justify-content: center;
        margin: 0;
        text-transform: uppercase;
    }

    #categories,
    #tags {
        display: flex;
        font-family: $__sans_serif_font;
        font-size: 0.8125rem;
        justify-content: center;
        list-style: none;
        margin: 0;
        padding: 0;

        li {
            margin-right: 4px;

            a {
                border-radius: 3px;
                display: inline-block;
                padding: 2px 4px;

                &:hover {
                    opacity: 0.7;
                }

            }

            &::after {
                content: '\223B';
                display: inline-block;
                font-weight: bold;
                margin: 0 4px;
            }

            &:last-child {

                &::after {
                    content: '';
                    margin: 0;
                }

            }

        }

    }

    .entry-content {
        margin-top: 32px;
    }
        
}

.entry-full-title {
    display: flex;
    font-family: $__sans_serif_font;
    font-size: 2.7rem;
    justify-content: center;
}

#similar-to-title {
    display: flex;
    font-family: $__sans_serif_font;
    justify-content: center;
    margin-top: 56px;
}

#related-list {
    align-items: center;
    display: flex;
    flex-direction: column;
    font-family: $__sans_serif_font;
    justify-content: center;
    list-style: none;
    margin: 0;
    padding: 0;
}
