audio,
figure,
iframe,
img,
select,
video {
	height: auto;
	margin: 0;
	max-width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0 0 0.37rem 0;
}

h1 {
	font-size: 2rem;
}

code,
pre {
	-moz-tab-size: 4;
	hyphens: none;
	tab-size: 4;
	white-space: pre-wrap;
	word-break: normal;
	word-spacing: normal;
	word-wrap: normal;
}

code {
	font-family: $__code_font;
}

blockquote {
	border-left: 8px solid $__color_gray_asparagus;
	padding: 1.1rem 0 0.2rem 16px;
	quotes: '\201C''\201D''\2018''\2019';

	> :last-child {
		margin-bottom: 0;
	}

	p {
		display: inline-block;
		font-size: 0.875rem;
		font-style: italic;
		margin-left: 8px;
		margin-top: 0.15rem;
		padding-left: 12px;
		position: relative;
		width: calc( 100% - 40px );

		&::before {
			color: $__color_gray_asparagus;
			content: open-quote;
			display: block;
			font-size: 2.5rem;
			font-style: normal;
			height: 100%;
			left: -16px;
			line-height: 1em;
			margin-right: 0.15em;
			position: absolute;
			top: -12px;
			width: 16px;
		}

	}
	
}

del {
	text-decoration: line-through;
}
  
abbr[title],
dfn[title] {
	cursor: help;
}

abbr[title] {
    border-bottom: 0.05rem dotted;
    cursor: help;
    text-decoration: none;
}

kbd {
    background: $__color_heavy_metal;
    border-radius: 0.1rem;
    color: $__color_feta;
    font-size: 0.75rem;
    line-height: 1.25;
    padding: 0.1rem 0.2rem;
}

q {
	font-style: italic;
	quotes: none;

	&:before,
	&:after {
	  content: '"';
	  font-style: normal;
	}

}

address,
em {
	font-style: italic;
}

ins {
  background: $__color_honeysuckle;
  padding: 0 1px;
  text-decoration: none;
}

mark {
    background: $__color_honeysuckle;
    border-radius: 0.1rem;
	color: $__color_lunar_green;
	font-style: italic;
    padding: 0.05rem 0.1rem 0;
}

strong,
b {
	font-weight: bold;
}

sup,
sub {
	font-size: 0.875em;
}

dt {
	color: $__color_olive_green;
	float: left;
	font-weight: bold;

	&:after {
		content: ":";
		padding-right: 5px;
	}

}
  
dd {
	margin: 0 0 5px 0;
}
