::-webkit-input-placeholder			{ color: $__placeholder_color; }
:-moz-placeholder 		  			{ color: $__placeholder_color; }
::-moz-placeholder		  			{ color: $__placeholder_color; }
:-ms-input-placeholder      		{ color: $__placeholder_color; }

:focus::-webkit-input-placeholder	{ color: $__placeholder_focus_color; }
:focus:-moz-placeholder		  		{ color: $__placeholder_focus_color; }
:focus::-moz-placeholder         	{ color: $__placeholder_focus_color; }
:focus:-ms-input-placeholder      	{ color: $__placeholder_focus_color; }

.error::-webkit-input-placeholder 	{ color: $__error; }
.error:-moz-placeholder		  		{ color: $__error; }
.error::-moz-placeholder          	{ color: $__error; }
.error:-ms-input-placeholder      	{ color: $__error; }

input[type="color"],
input[type="date"],
input[type="datetime"],
input[type="datetime-local"],
input[type="email"],
input[type="month"],
input[type="number"],
input[type="password"],
input[type="range"],
input[type="search"],
input[type="tel"],
input[type="text"],
input[type="time"],
input[type="url"],
input[type="week"],
textarea {
	-webkit-appearance: none;
	-webkit-backface-visibility: hidden;
	background: $__field_background_color;
	border: solid 1px $__field_border_color;
	box-sizing: border-box;
	outline-offset: 0;
	outline: none;
	padding: 0.51rem 1rem 0.36rem 1rem;
	transition: all $__transition_bezier;

	&:focus {
		border-color: $__field_border_color;
		outline: none;
		outline-offset: -4px;
	}

}

input[type="email"],
input[type="password"],
input[type="search"],
input[type="tel"],
input[type="text"],
input[type="url"],
textarea {
	border: solid 1px $__field_border_color;

	&:focus {
		background: $__field_background_color_focus;
		border-color: $__field_border_color_focus;
	}

}

input[type="search"] {

	&::-webkit-search-decoration,
	&::-webkit-search-cancel-button,
	&::-webkit-search-results-button,
	&::-webkit-search-results-decoration {
		-webkit-appearance:none;
	}
	
}

textarea {
	box-sizing: border-box;
	display: block;
	max-width: 100%;
	resize: vertical;
	width: 100%;
}

form {

	p {
		margin: 1rem 0;
	}

}

input,
optgroup,
select,
textarea {
	font-family: inherit;
	font-size: inherit;
	line-height: inherit;
	margin: 0;
	outline: none;
}

optgroup,
select {
	border: solid 1px $__field_border_color;
}

.button,
button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
	background: $__background_button;
	border: 0;
	color: $__default_Color;
	cursor: pointer;
	outline: none;
	padding: 0.51rem;
	text-align: inherit;
	text-decoration: none;
	transition: $__transition_bezier;
	font-family: inherit;
	font-size: inherit;
	line-height: inherit;
	margin: 0;
	outline: none;

	&:active,
	&:focus,
	&:visited {
		background: $__background_button;
		color: $__default_Color;
	}

	&:hover {
		background: $__background_button_hover;
		color: $__default_Color;
	}

}

button:focus {
	outline: none;
}

button::-moz-focus-inner {
	border: 0;
}
