$__grid_width:			    60rem;
$__grid_large_width:	    76rem;
$__panel_size:              48px;

$__search_form_size:        56px;

$__transition_bezier:       0.56s cubic-bezier( 0.52, 0.16, 0.24, 1 );

$__smartphone_display:      "only screen and ( min-width : 481px )";
$__tablet_display:          "only screen and ( min-width : 769px )";
$__large_display: 	        "only screen and ( min-width : 1025px )";
