@font-face {
	font-family: 'Lora';
	src: url('fonts/Lora.woff2') format('woff2'),
		 url('fonts/Lora.woff') format('woff');
}

@font-face {
	font-family: 'Karla';
	src: url('fonts/Karla.woff2') format('woff2'),
		 url('fonts/Karla.woff') format('woff');
}

@font-face {
	font-family: 'FiraMono';
	src: url('fonts/FiraMono.woff2') format('woff2'),
		 url('fonts/FiraMono.woff') format('woff');
}

$__serif_font:			Lora,
						sans-serif;

$__code_font:			FiraMono,
						monospace;

$__sans_serif_font:		Karla,
						serif;

$__default_font: 		$__serif_font;

$__base_font_size:    	16px;
$__base_line_height:	1.5;
$__letter_spacing:		0.06em;
